<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Document{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% load static %}
    <style>
           body{
            background-image: url("{% static 'images/glitch_background.jpg' %}");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
           }
    </style>
</head>
<body>
   
    {% block navbar %}

    
    {% endblock navbar %}



    {% block content %}

    {% endblock content %}

    
</body>
</html>